@font-face {
    font-family: "Druk Bold";
    src: url("Druk-Bold.woff2") format("woff2"),
    url("Druk-Bold.woff") format("woff")
}

body {
    background-color: black;
    font-family: "Druk Bold";
    letter-spacing: 0.02em;
    pointer-events: none;
}

.container {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: black;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

.logo {
    display: flex;
    height: 100%;
}

.logo img {
    height: 100%;
}

.text {
    color: #999999;
    line-height: 1;
    margin-bottom: -20px;
    font-size: 105px;
}

@media(max-width: 989px) {
    .container {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo {
        width: 70%;
        height: auto;
    }

    .logo img {
        height: auto;
        width: 100%;
    }

    .text {
        order: -1;
    }
}

@media(max-width: 575px) {
    .container {
        padding: 15px;
    }

    .logo {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .text {
        font-size: 29.8vw;
    }
}